@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  padding: 0;
  margin: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #202020;
  height: 12%;
  z-index: 1000;
}

.navbar .left-Side-Wrap {
  height: 100%;
  width: 50%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar .left-Side-Wrap .navbrand-Wrap {
  padding: 0;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  gap: 3rem;
}

.navbar .left-Side-Wrap .navbrand-Wrap .logo-Wrap {
  position: relative;
  height: 50px;
  width: 50px;
  margin: 5px;
}

.navbar .left-Side-Wrap .navbrand-Wrap .logo-Wrap .brand-One {
  border: 0.3rem solid #dba81b;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -13px;
  left: 5px;
}

.navbar .left-Side-Wrap .navbrand-Wrap .logo-Wrap .brand-Two {
  background-color: #202020;
  height: 105%;
  width: 105%;
  position: absolute;
  top: -2px;
  left: 20px;
}

.navbar .left-Side-Wrap .navbrand-Wrap .logo-Wrap .brand-Three {
  border: 0.3rem solid #dba81b;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 3px;
  left: 25px;
}

.navbar .left-Side-Wrap .navbrand-Wrap .text-Wrap .nav-Brand-Text {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #fff;
  letter-spacing: 0.2rem;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.navbar .right-Side-Wrap {
  width: 50%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.navbar .right-Side-Wrap .search-Menu-Wrap {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  gap: 13px;
  width: 80%;
  height: 100%;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap {
  position: relative;
  width: 370px;
  height: 40px;
  margin: 5px;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap .text-Input {
  top: 0;
  left: 0;
  width: 90%;
  height: 90%;
  background-color: #3e3e41;
  color: white;
  outline: none;
  border: none;
  padding-left: 35px;
  border-radius: 5px;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap .text-Input::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  color: white;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap #search-Icon {
  top: 25%;
  color: #ccc;
  left: 10px;
  padding: 0;
  margin: 0;
  position: absolute;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap {
  position: relative;
  width: 50px;
  height: 90%;
  overflow: hidden;
  padding: 5px;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  height: 45px;
  margin: 5px;
  width: 45px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  gap: 25px;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap .bars {
  height: 2px;
  width: 100%;
  background-color: #ccc;
  position: absolute;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap .bar-One {
  top: 25%;
  transition: all 500ms ease-in-out;
  position: absolute;
  left: 0;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap .bar-Two {
  position: absolute;
  transition: all 500ms ease-in-out;
  top: 50%;
  left: 0;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap .bar-Three {
  left: 0;
  position: absolute;
  transition: all 500ms ease-in-out;
  top: 75%;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap.active .bar-One {
  transform-origin: center left;
  padding: 0;
  margin: 0;
  left: 0;
  top: 50%;
  position: absolute;
  transform: rotate(-30deg);
  height: 2px;
  width: 50%;
  background-color: #ccc;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap.active .bar-Two {
  height: 2px;
  background-color: #ccc;
  left: 0;
  width: 150%;
  position: absolute;
  top: 50%;
}

.navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap.active .bar-Three {
  transform-origin: center left;
  padding: 0;
  margin: 0;
  left: 0;
  top: 50%;
  position: absolute;
  transform: rotate(30deg);
  height: 2px;
  width: 50%;
  background-color: #ccc;
}

.navlinks {
  top: 0%;
  height: 110vh;
  width: 100%;
  position: absolute;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #0b0b14;
  transition: all 500ms ease-in-out;
}

.navlinks ul {
  list-style: none;
  height: 100%;
  display: flex;
  width: 100%;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.navlinks ul li {
  width: 50%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 0.2rem;
  text-align: center;
  position: relative;
}

.navlinks ul li::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  width: 0%;
  height: 5px;
  transition: all 350ms ease-in-out;
}

.navlinks ul li a {
  text-decoration: none;
  font-family: "Alfa Slab One", cursive;
  font-size: 3.5rem;
  color: #fff;
  letter-spacing: 0.3rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #0b0b14;
  position: relative;
  transition: all 500ms ease-in-out;
  opacity: 0;
}

.navlinks ul li a.active {
  opacity: 1;
}

.navlinks ul li:hover::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 100%;
  top: 50%;
  left: 0;
  background-color: #d85306;
}

.navlinks.active {
  transform: translateY(-100%);
}

@media screen and (max-width: 1450px) {
  .navbar {
    height: 8%;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap {
    margin-left: 5rem;
    width: 70%;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap .logo-Wrap {
    height: 40px;
    width: 40px;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap .text-Wrap .nav-Brand-Text {
    font-size: 0.9rem;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap {
    width: 70%;
  }

  .navlinks ul li {
    width: 60%;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .navlinks ul li a {
    font-size: 3rem;
  }
}

@media screen and (max-width: 1024px) {
  .navbar {
    height: 8%;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap {
    width: 50%;
    margin-left: 4rem;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap .logo-Wrap {
    height: 30px;
    width: 30px;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap .text-Wrap .nav-Brand-Text {
    font-size: 0.6rem;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap {
    width: 60%;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap {
    width: 170px;
    height: 35px;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap .text-Input {
    padding-left: 35px;
    border-radius: 5px;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap .text-Input::placeholder {
    font-weight: 300;
    font-size: 0.5rem;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap {
    width: 40px;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap {
    height: 35px;
    width: 35px;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .burger-Wrap .burger-Menu-Wrap .bars {
    height: 1px;
  }

  .navlinks ul li {
    width: 60%;
  }

  .navlinks ul li a {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    height: 8%;
  }

  .navbar .left-Side-Wrap {
    width: 30%;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap {
    width: 100%;
    margin-left: 1rem;
  }

  .navbar .left-Side-Wrap .navbrand-Wrap .text-Wrap {
    display: none;
  }

  .navbar .right-Side-Wrap {
    width: 70%;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap {
    width: 80%;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap {
    width: 170px;
    height: 35px;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap .text-Input {
    padding-left: 35px;
    border-radius: 5px;
  }

  .navbar .right-Side-Wrap .search-Menu-Wrap .search-Wrap .text-Input::placeholder {
    font-weight: 300;
    font-size: 0.5rem;
  }

  .navlinks ul li {
    margin: 5px;
    width: 80%;
  }

  .navlinks ul li a {
    font-size: 1.2rem;
  }
}

.header {
  height: 90vh;
  width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #202020;
  z-index: 5;
  position: relative;
  flex-direction: column;
}

.header .head {
  height: 75%;
  width: 90%;
  position: relative;
  z-index: 10;
}

.header .head .img-Text-Wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 8;
}

.header .head .img-Text-Wrap .img-Wrap {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
}

.header .head .img-Text-Wrap .img-Wrap .blackBg-Cover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4;
  width: 100%;
  height: 100%;
  background-color: rgba(43, 42, 42, 0.527);
}

.header .head .img-Text-Wrap .img-Wrap .header-Img {
  background-image: url("./assets/landing-bg.jpg");
  background-position: center;
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 3;
  background-repeat: no-repeat;
  background-size: cover;
}

.header .head .img-Text-Wrap .text-Wrap {
  position: absolute;
  z-index: 15;
  left: 65px;
  bottom: 25px;
  display: flex;
  flex-direction: column;
  text-align: start;
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 300px;
}

.header .head .img-Text-Wrap .text-Wrap .text-Wrapper {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-One {
  font-size: 6rem;
  font-family: "Alfa Slab One", cursive;
  color: #dba81b;
  gap: 1px;
  padding: 0;
  margin: 0;
}

.header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-Two {
  font-size: 6rem;
  font-family: "Abel", sans-serif;
  color: white;
  padding: 0;
  margin: 0;
  gap: 1px;
}

.header .head .img-Text-Wrap .button-Text-Wrap {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
  position: relative;
  z-index: 20;
}

.header .head .img-Text-Wrap .button-Text-Wrap .button-Text {
  width: 70%;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 1.3rem;
  font-weight: 300;
  position: relative;
  z-index: 50;
}

.header .head .img-Text-Wrap .button-Text-Wrap .header-button {
  padding: 20px 40px;
  background-color: transparent;
  border: solid snow 5px;
  color: white;
  font-family: "Alfa Slab One", cursive;
  font-size: 15px;
  font-weight: 500;
  transition: all 100ms ease-in-out;
  cursor: pointer;
  position: relative;
  z-index: 1100;
}

.header .head .img-Text-Wrap .button-Text-Wrap .header-button:hover {
  border-color: black;
  background-color: white;
  color: black;
  cursor: pointer;
}

.header .head .img-Text-Wrap .button-Text-Wrap .header-button:active {
  transform: scale(0.9);
  color: #fff;
  background-color: #dba81b;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-One {
    font-size: 5rem;
  }

  .header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-Two {
    font-size: 5rem;
  }

  .header .head .img-Text-Wrap .button-Text-Wrap .button-Text {
    font-size: 1.1rem;
  }

  .header .head .img-Text-Wrap .button-Text-Wrap .header-button {
    padding: 17px 35px;
    font-size: 13px;
  }
}

@media screen and (max-width: 850px) {
  .header .head .img-Text-Wrap .text-Wrap {
    width: 80%;
    left: 5px;
  }

  .header .head .img-Text-Wrap .text-Wrap .text-Wrapper {
    text-align: start;
    align-items: center;
    justify-content: flex-start;
  }

  .header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-One {
    font-size: 3rem;
  }

  .header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-Two {
    font-size: 3rem;
  }

  .header .head .img-Text-Wrap .button-Text-Wrap .button-Text {
    font-size: 0.7rem;
  }

  .header .head .img-Text-Wrap .button-Text-Wrap .header-button {
    padding: 10px 35px;
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .header .head .img-Text-Wrap .text-Wrap {
    width: 80%;
    left: 15px;
  }

  .header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-One {
    font-size: 2rem;
  }

  .header .head .img-Text-Wrap .text-Wrap .text-Wrapper .text-Two {
    font-size: 2rem;
  }

  .header .head .img-Text-Wrap .button-Text-Wrap .button-Text {
    font-size: 0.7rem;
  }

  .header .head .img-Text-Wrap .button-Text-Wrap .header-button {
    padding: 7px 25px;
    font-size: 7px;
  }
}

.about {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  background-color: #313133;
  justify-content: center;
}

.about .about-Left-Side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: end;
  width: 45%;
  height: 100%;
}

.about .about-Left-Side .left-Wrap {
  height: 50%;
  width: 70%;
  text-align: start;
  align-items: start;
}

.about .about-Left-Side .left-Wrap .about-Left-Text-1 {
  font-size: 3rem;
  font-family: "Abel", sans-serif;
  color: white;
  font-weight: 100;
}

.about .about-Left-Side .left-Wrap .about-Left-Text-2 {
  font-size: 1rem;
  font-family: "Abel", sans-serif;
  color: #dba81b;
  width: 80%;
  font-weight: 100;
}

.about .about-Left-Side .left-Wrap .about-Left-Button {
  padding: 15px 50px;
  background-color: transparent;
  border: solid #dba81b 5px;
  font-family: "Abel", sans-serif;
  font-size: 20px;
  color: #dba81b;
  transition: all 150ms ease-in-out;
}

.about .about-Left-Side .left-Wrap .about-Left-Button:hover {
  cursor: pointer;
  background-color: #0b0b14;
  color: white;
  border: solid white 5px;
}

.about .about-Left-Side .left-Wrap .about-Left-Button:active {
  transform: scale(0.9);
}

.about .about-Right-Side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  align-items: center;
  width: 45%;
  height: 100%;
}

.about .about-Right-Side .right-Wrap {
  position: relative;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about .about-Right-Side .right-Wrap .right-Image-Wrap {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 500px;
  width: 500px;
}

.about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Right-About {
  background-image: url("./assets/about.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 30px;
  left: -20px;
  position: absolute;
  height: 350px;
  width: 600px;
  z-index: 2;
}

.about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Box-Bg {
  top: 70px;
  z-index: 1;
  right: 15px;
  position: absolute;
  height: 300px;
  width: 500px;
  border: 3rem solid #555;
}

.about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap {
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  right: 0;
  bottom: 0;
  width: 400px;
  height: 120px;
}

.about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: start;
  justify-content: center;
}

.about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1 {
  font-family: "Alfa Slab One", cursive;
  font-size: 4rem;
  color: #555;
}

.about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
  font-family: "Abel", sans-serif;
  font-weight: 300;
  font-size: 2.5rem;
  color: white;
}

.about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1,
.about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
  padding: 0;
  margin: 0;
}

.about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .decoration-Gold-Strip {
  height: 100%;
  width: 7%;
  background-color: #dba81b;
}

@media screen and (max-width: 1440px) {
  .about .about-Left-Side .left-Wrap .about-Left-Text-1 {
    font-size: 2.3rem;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Text-2 {
    font-size: 0.7rem;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Button {
    padding: 15px 50px;
    font-size: 16px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap {
    height: 400px;
    width: 400px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Right-About {
    top: 30px;
    left: -30px;
    height: 350px;
    width: 480px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Box-Bg {
    top: 70px;
    right: -15px;
    height: 300px;
    width: 450px;
    border: 1rem solid #555;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1 {
    font-family: "Alfa Slab One", cursive;
    font-size: 3rem;
    color: #555;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
    font-family: "Abel", sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: white;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1,
  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
    padding: 0;
    margin: 0;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .decoration-Gold-Strip {
    height: 100%;
    width: 4%;
    background-color: #dba81b;
  }
}

@media screen and (max-width: 1000px) {
  .about .about-Left-Side {
    text-align: start;
    align-items: start;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Text-1 {
    font-size: 1.9rem;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Text-2 {
    font-size: 0.5rem;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Button {
    padding: 15px 50px;
    font-size: 13px;
  }

  .about .about-Right-Side .right-Wrap {
    width: 200px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap {
    height: 400px;
    width: 400px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Right-About {
    top: 10px;
    left: -40px;
    height: 230px;
    width: 400px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Box-Bg {
    top: 40px;
    left: -65px;
    height: 230px;
    width: 370px;
    border: 1rem solid #555;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1 {
    font-family: "Alfa Slab One", cursive;
    font-size: 1.5rem;
    color: #555;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
    font-family: "Abel", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1,
  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
    padding: 0;
    margin: 0;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .decoration-Gold-Strip {
    height: 100%;
    width: 3%;
    background-color: #dba81b;
  }
}

@media screen and (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    height: 800px;
  }

  .about .about-Left-Side {
    text-align: center;
    align-items: center;
    height: 50%;
    width: 90%;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Text-1 {
    font-size: 1.9rem;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Text-2 {
    font-size: 0.5rem;
  }

  .about .about-Left-Side .left-Wrap .about-Left-Button {
    padding: 15px 50px;
    font-size: 13px;
  }

  .about .about-Right-Side {
    width: 90%;
    height: 50%;
  }

  .about .about-Right-Side .right-Wrap {
    width: 90%;
    justify-content: flex-start;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap {
    height: 200px;
    width: 200px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Right-About {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 190px;
    width: 320px;
  }

  .about .about-Right-Side .right-Wrap .right-Image-Wrap .image-Box-Bg {
    display: none;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap {
    width: 300px;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1 {
    font-family: "Alfa Slab One", cursive;
    font-size: 1.5rem;
    color: #555;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
    font-family: "Abel", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    color: white;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-1,
  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .right-Text-Wrap-Left .right-Text-Wrap-Left-2 {
    padding: 0;
    margin: 0;
  }

  .about .about-Right-Side .right-Wrap .right-Text-Bottom-Wrap .decoration-Gold-Strip {
    height: 100%;
    width: 2%;
    background-color: #dba81b;
  }
}

.projects {
  height: 110vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background-color: #202020;
}

.projects .projects-Wrap {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
  height: 90%;
}

.projects .projects-Wrap .project-Title-Wrap {
  height: 20%;
  width: 100%;
  text-align: start;
  align-items: start;
  justify-content: start;
  display: flex;
}

.projects .projects-Wrap .project-Title-Wrap .project-Title-Text {
  font-size: 5rem;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.projects .projects-Wrap .projects-Cards-Wrap {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.projects .projects-Wrap .projects-Cards-Wrap .project-Card {
  height: 500px;
  width: 300px;
  overflow: hidden;
}

.projects .projects-Wrap .projects-Cards-Wrap .project-Card .Project-Img {
  background-image: url("./assets/card1.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
